.bar {
  font-size: 14pt;
  background-color: $bg;
  transition: $transition;
  font-weight: bold;

  .workspaces {
    margin: $spacing $spacing;
    label {
      font-size: 0;
      min-width: 5pt;
      min-height: 5pt;
      border-radius: $radius;
      margin: 0 $margin;
      background-color: transparentize($fg, 0.8);
      transition: $transition;

      &.occupied {
        background-color: transparentize($fg, 0.4);
        min-width: 7pt;
        min-height: 7pt;
      }

      &.active {
        background-color: $fg;
        min-width: 20pt;
        min-height: 12pt;
      }
    }
  }

  .system {
    margin: $spacing $spacing;
    image {
      margin: 0 $margin;
    }
  }

  .battery {
    margin: $spacing $spacing;
    label {
      margin: 0 $margin;
    }
  }
}
