* {
  font-family: CaskaydiaCove Nerd Font;
  color: #ffffff;
  font-size: 14pt;
}

window#waybar {
  background: rgba(0, 0, 0, 0.75);
}

#workspaces {
    margin-left: 0.5em;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: transparent;
}

#workspaces button {
  margin-bottom: 0.125em;
  border: 0em;
  background: transparent;
}

#workspaces button.active {
  border-bottom: 0.125em solid #ffffff;
  border-radius: 0em;
  margin-bottom: 0em;
}

#clock {
    margin-right: 0.5em;
}
